.footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}
.footer a,
.footer button {
    color: #009bbb;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.footer a:hover,
.footer button:hover {
    color: #1f1f1f;
    transform: scale(1.02);
}
.footer p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.modal {
    background-color: #eaeaea;
    width: 50%;
}
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }
}