body {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: #eaeaea;
    color: #1f1f1f;
    margin: 0;
}
main {
    padding: 2rem 4rem;
}

input[type="datetime-local"],
input[type="time"] {
    padding: 10px 15px;
    background-color: #eaeaea;
    color: #1f1f1f;
    box-shadow: 0 0 0 0 transparent,0 0 0 0 transparent,0 0 15px 0 rgba(0,0,0,.1);
    border: 1px solid rgba(32,33,35,.5);
    border-radius: 12px;
    cursor: pointer;
}
label {
    font-size: 1rem;
    font-weight: 700;
    color: #1f1f1f;
}
p {
    margin: 0;
}

main {
    display: flex;
    gap: 16rem;
}
button {
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
}
button:hover{
    transform: scale(1.02);
}
@media (max-width: 768px) {
    main {
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 2rem;
    }
}