@import './theme.css';

body {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: var(--background);
    color: var(--text-primary);
    margin: 0;
}

input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    padding: var(--gutter);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    box-shadow: 0 1px 2px var(--shadow);
}